#ide stuff
.gradle
/build/
.idea
.run
#vscode
bin
#eclipse
.project
.settings
.classpath
#ioxbox stuff
config.json
box_data.json
/logs/
variable_data.json

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache